body {
    font-family: 'Consolas', monospace;
}

h1 {
    font-family: 'Source Serif Pro';
}

p {
    font-family: 'Source Sans Pro';
    font-size: 18px;
}

a {
    text-decoration: none;
    color: blue;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ddd;
        background-color: #151515;
    }

    body a {
        color: #809fff;
    }
}